.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  gap: 1rem;
  width: 100%;
  max-width: 46rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-300);
}

.subtitle {
  font-size: 1rem;
  color: var(--gray-300);
}
